<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
<div class="row"><h1 class="text-center">Thêm mới khách hàng</h1></div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form [formGroup]="createFormCustomer" style="height: 300px" method="post" (ngSubmit)="createCustomer()">
      <div class="mb-3">
        <select formControlName="customerType" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option value="" selected>---Loại khách hàng---</option>
          <option *ngFor="let customerType of customerTypeList" [ngValue]="customerType">{{customerType.name}}</option>
        </select>
        <p style="color: red" *ngIf="createFormCustomer.controls.customerType.hasError('required') && createFormCustomer.controls.customerType.touched">Loại khách hàng được để trống</p>

      </div>
      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Tên khách hàng</label>
        <input formControlName="name" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
        <p style="color: red" *ngIf="createFormCustomer.controls.name.hasError('required') && createFormCustomer.controls.name.touched">Tên không được để trống</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">Ngày sinh</label>
        <input formControlName="dateOfBirth" type="date" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="createFormCustomer.controls.dateOfBirth.hasError('required') && createFormCustomer.controls.dateOfBirth.touched">
          Ngày sinh không được để trống</p>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Nam
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Đàn bà
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail5" class="form-label">Số CMND</label>
        <input formControlName="idCard" type="text" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="createFormCustomer.controls.idCard.hasError('required') && createFormCustomer.controls.idCard.touched">
          SỐ CMND không được để trống</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail6" class="form-label">Số điện thoại</label>
        <input formControlName="phoneNumber" type="text" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="createFormCustomer.controls.phoneNumber.hasError('required') && createFormCustomer.controls.phoneNumber.touched">
          SỐ điện thoại không được để trống</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail7" class="form-label">Email</label>
        <input formControlName="email" type="text" class="form-control" id="exampleInputEmail7" aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="createFormCustomer.controls.email.hasError('required') && createFormCustomer.controls.email.touched">
          Email không được để trống</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail8" class="form-label">Địa chỉ</label>
        <input formControlName="address" type="text" class="form-control" id="exampleInputEmail8" aria-describedby="emailHelp">
        <p formControlName="address" style="color: red"
           *ngIf="createFormCustomer.controls.address.hasError('required') && createFormCustomer.controls.address.touched">
          Địa chỉ không được để trống</p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>
</body>
</html>
