<h1>Thêm mới học sinh</h1>
<form [formGroup]="formCreateStudent" (ngSubmit)="createStudent()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tên</label>
    <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <p style="color: red" *ngIf="formCreateStudent.controls.name.hasError('required') && formCreateStudent.controls.name.touched">Vui lòng nhập tên</p>
  </div>
  <select formControlName="clazz" class="form-select" aria-label="Default select example">
    <option selected>---Lớp---</option>
    <option *ngFor="let clazz of clazzList" [ngValue]="clazz">{{clazz.name}}</option>
  </select>
  <p style="color: red" *ngIf="formCreateStudent.controls.clazz.hasError('required') && formCreateStudent.controls.clazz.touched">Vui lòng chọn lớp</p>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
