<div class="row">
<div class="col-3"></div>
<div class="col-6">
  <h2>Đăng kí tài khoản</h2>
  <form [formGroup]="reactiveForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input formControlName="email" name="email" type="email" class="form-control" id="exampleInputEmail1">
      <p style="color: red" *ngIf="reactiveForm.controls.email.hasError('required') && reactiveForm.controls.email.touched">Email không được để trống</p>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail2" class="form-label">Password</label>
      <input formControlName="password" name="password" type="password" class="form-control" id="exampleInputEmail2">
      <p style="color: red" *ngIf="reactiveForm.controls.password.hasError('required') && reactiveForm.controls.password.touched">Mật khẩu không được để trống</p>
      <p style="color: red" *ngIf="reactiveForm.controls.password.hasError('minlength') && reactiveForm.controls.password.touched">Mật khẩu phải ít nhất 6 kí tự</p>


    </div>
    <div class="mb-3">
      <label for="exampleInputEmail3" class="form-label">Confirm password</label>
      <input formControlName="confirmPassword" name="confirmPassword" type="password" class="form-control" id="exampleInputEmail3">
     <p style="color: red" *ngIf="reactiveForm.controls.confirmPassword.hasError('required') && reactiveForm.controls.confirmPassword.touched">Nhập lại mật khẩu</p>
      <p style="color: red" *ngIf="reactiveForm.controls.confirmPassword.hasError('123azasd') && reactiveForm.controls.confirmPassword.touched">Mật khẩu nhập lại không đúng</p>
    </div>
    <label class="form-label">Country</label>
    <select formControlName="country" name="country" id="disabledSelect" class="form-select mb-3">
      <option>---Chọn quốc gia---</option>
      <option value="1">Việt Nam</option>
      <option value="2">USA</option>
    </select>
    <p  style="color: red" *ngIf="reactiveForm.controls.country.hasError('required') && reactiveForm.controls.country.touched">Vui lòng chọn quốc gia </p>
    <div class="mb-3">
      <label for="exampleInputEmail4" class="form-label">Age</label>
      <input formControlName="age" name="age" type="text" class="form-control" id="exampleInputEmail4" >
      <p style="color: red" *ngIf="reactiveForm.controls.age.hasError('required') && reactiveForm.controls.age.touched">Vui lòng nhập tuổi</p>
      <p style="color: red" *ngIf="reactiveForm.controls.age.hasError('min') && reactiveForm.controls.age.touched">Bạn phải trên 18 tuổi</p>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Nam
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Nữ
      </label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail5" class="form-label">Phone</label>
      <input formControlName="phone" name="phone" type="text" class="form-control" id="exampleInputEmail5" >
      <p style="color: red" *ngIf="reactiveForm.controls.phone.hasError('required')&& reactiveForm.controls.phone.touched">Vui lòng nhập số điện thoại</p>
      <p style="color: red" *ngIf="reactiveForm.controls.phone.hasError('pattern')&& reactiveForm.controls.phone.touched">Vui lòng nhập đúng định dạng</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="col-3"></div>

</div>
