<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách khách hàng</title>

</head>
<body>
<div class="container-fluid vh-100">
  <app-header></app-header>
  <app-navigation></app-navigation>

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <h1 class="text-center">Danh sách khách hàng</h1>
    </div>
    <div class="d-flex">
      <input #nameCustomer class="form-control me-2" type="search" placeholder="Tên khách hàng" aria-label="Search">
      <input #emailCustomer class="form-control me-2" type="search" placeholder="Email" aria-label="Search">
      <select #customerType formControlName="clazz" class="form-select" aria-label="Default select example">
        <option  value=''>---Loại khách hàng---</option>
        <option *ngFor="let customerType of listCustomerType" [value]="customerType">{{customerType.name}}</option>
      </select>
      <button (click)="search(nameCustomer.value,emailCustomer.value,customerType.value)" class="btn btn-outline-success" type="submit">Search</button>
    </div>

    <div class="col-2">
      <button routerLink="/customer/create" type="button" class="btn btn-success">Thêm mới</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Kiểu khách hàng</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Giới tính</th>
      <th scope="col">Số CMND</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Email</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody *ngFor="let customer of customerList">
    <tr>
      <td>{{customer.id}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td *ngIf="customer.gender;else genderBlock">Nam</td>
      <ng-template #genderBlock>
        <td>Nữ</td>
      </ng-template>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>
        <button [routerLink]="['/customer/update',customer.id]" type="button" class="btn btn-warning">Sửa</button>
      </td>
      <td>
        <button (click)="customerRemove = customer" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-footer></app-footer>
</div>
</body>
</html>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa khách hàng <span style="color: red">{{customerRemove.name}}</span> không ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button (click)="removeCustomer()"  type="button" data-bs-dismiss="modal" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
