<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách khách hàng</title>
</head>
<body>
<div class="container-fluid vh-100">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <div class="row">
    <div class="col-10">
      <h1 class="text-center">Danh sách hợp đồng</h1>
    </div>
    <div class="col-2">
      <!--            <a class="btn btn-warning" th:href="@{/contract/addContract}">Thêm mới hợp đồng</a>-->
      <button routerLink="/contract/create"  class="btn btn-primary">Thêm mới</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Ngày bắt đầu</th>
      <th scope="col">Ngày kết thúc</th>
      <th scope="col">Tiền đặt cọc</th>
      <th scope="col">Nhân viên</th>
      <th scope="col">Khách hàng</th>
      <th scope="col">Dịch vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList">
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
      <td>{{contract.employee.name}}</td>
      <td>{{contract.customer.name}}</td>
      <td>{{contract.facility.name}}</td>
    </tr>
    </tbody>
  </table>

</div>
<input type="hidden" id="modaleCreate">
</body>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Danh sách dịch vụ đi kèm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tên dịch vụ</th>
            <th scope="col">Giá</th>
            <th scope="col">Đơn vị</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
          </tr>
          </thead>
          <tbody id="myTableContractDetail">

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</html>
